/* BASE STYLES */

body {
    background-color: #FFFF00;
    animation: background 1s linear backwards;
    animation-iteration-count: infinite;
}

.wrapper {
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

/* KEYFRAMES */

@keyframes background{
    0%{
        background-color: #FFFF00;
    }
    32% {
        background-color: #FFFF00;
    }

    33% {
        background-color: #0000FF;
    }

    65% {
        background-color: #0000FF;
    }

    66% {
        background-color: #FF0000;
    }
    99%{
        background-color: #FF0000;
    }
    100%{
        background-color: #FFFF00;
    }
}

@keyframes outline-soon {
    0%{
        fill: transparent;
        stroke: black;
    }

    49% {
        fill: transparent;
        stroke: black;
    }

    50% {
        fill: black;
        stroke: 2;
    }

    99%{
        fill: black;
        stroke: 2;
    }
    100%{
        fill: transparent;
        stroke: black;
    }
}

@keyframes outline-coming {

    0%{
        fill: black;
        stroke: 2;
    }

    49% {
        fill: black;
        stroke: 2;
    }

    50% {
        fill: transparent;
        stroke: black;
    }

    99%{
        fill: transparent;
        stroke: black;
    }
    100%{
        fill: black;
        stroke: 2;
    }

}

/* COMING SOON TEXT */

.coming-soon-wrapper {
    width: 80%;
    margin: auto;
    overflow: visible;

}

/* COMING TEXT */
.coming{
    stroke: black;
    stroke-width: 2;
    animation: outline-coming calc(1s/3*2) linear forwards;
    animation-iteration-count: infinite;
}

/* SOON TEXT */
.soon {
    fill: transparent;
    stroke: black;
    stroke-width: 2;
    animation: outline-soon calc(1s/3*2) linear forwards;
    animation-iteration-count: infinite;
}

/* DATE TEXT */

.date-wrapper {
    width: 120px;
    margin: 2em auto;
}

.date {}

@media(min-width: 900px){
    .date-wrapper {
        width: 160px;

    }
}


@media(min-width: 1200px){
    .date-wrapper {
        width: 200px;

    }
}